.mat-toolbar{
    background-color:palevioletred;
    color: rgb(255, 188, 106);
    background-image: url("../../assets/background-1.jpg");
    font-size: 38px;
  }
  .mat-button{
     color: beige;

  }
.spacer {
    flex: 1 1 auto;
}